.art-header{
    width: 88%;
    margin-left: 5%;
    border-bottom: 1px solid midnightblue;
    margin-bottom: 1em;
    padding-left: 2%;
}
.art-header-img{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.art-header-img img{
    height: 3em;
    width: 3em;
}
.art-header-descr{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.art-header-descr h2{
    color: midnightblue;
}
.art-header .dateLine{
    width: 100%;
    text-align: left;
}
span.dateFld{
    font-weight: bold;
    font-size: 0.8em;
    min-width: 10em;
    display: inline-block;
    color: midnightblue;
}
span.dateVal{
    font-weight: bold;
    font-size: 0.8em;
}
.art-content{
    width: 88%;
    margin-left: 5%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: left;
    padding-left: 2%;
}
.art-ref{
    border-top: 1px solid midnightblue;
    width: 88%;
    margin-left: 5%;
    margin-bottom: 2em;
    text-align: left;
    padding-left: 2%;
}
.art-ref a{
    word-wrap: break-word;
}
.example{
    width: 90%;
    border: 1px solid silver;
    padding: 1em 5% 1em 5%;
    font-family: "Courier New";
    font-size: 0.8em;
    overflow-x: scroll;
}
.example-img{
    padding: 1em 5% 1em 5%;
    width: 90%;
    text-align: center;
}
.example-img img{
    padding: 0.5em;
    border: 1px solid silver;
}
.example-img span{
    display: block;
    font-style: italic;
}
ul li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.comments-block{
    border: none;
    border-top: 1px solid midnightblue;
    width: 88%;
    margin-left: 5%;
    padding-left: 2%;
    font-size: 0.5em;
}
span.answCnt{
    margin-left: 1em;
}