.auth-ref-wrap
{
    height: 6em;
    width: 100%;
    padding: 1em 0;
}
.auth-ref-wrap .auth-stat
{
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    visibility: hidden;
}
.auth-ref-animate-wrap{
    position: relative;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
}
.auth-ref-animate a{
    text-align: center;
    color: navy;
    position: absolute;
    right: 0;
    top: -3em;
    /*transform: translate(0, -50%)*/;
    box-shadow: 0 20px 50px rgba(0,0,255,.5);
    overflow: hidden;
    width: 90%;
    margin-top: 2em;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid navy;
    border-radius: 0.5em;
    color: #000000;
}
.auth-ref-animate a::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
}
.auth-ref-animate a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, white, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.auth-ref-animate a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, white, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
.auth-ref-animate a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, white, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
.auth-ref-animate a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, white, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}
.signIn-img
{
    width: 20%;
    vertical-align: middle;
    display: inline-block;
}

.auth-ref-animate a img
{
    height: 4em;
    width: 4em;
}

.signIn-txt
{
    padding: 2%;
    width: 70%;
    vertical-align: middle;
    display: inline-block;
}

.signIn-txt strong
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
    color: #008000;
}

@media only screen and (max-width : 960px) {
    .auth-ref-wrap
    {
        height: 8em;
    }
}

@media only screen and (max-width : 1024px)
{
    .auth-ref-animate-wrap
    {
        width: 90%;
        margin-left: 4%;
        margin-right: 5%;
        display: block;
    }
}

.signIn-frame
{
    background-color: white;
}