.signIn-frame{
    margin: 1em 0;
    padding: 1em 10%;
    width: 80%;
    max-width: 960px;
    border: 1px solid #c0c0c0;
    display: inline-block;
    background-color: white;
}
.signIn-menu{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid darkgreen;
    margin: 0.5em 0;
}
.signIn-menu a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #008000;
    float: right;
    margin: 0 1em;
}
.signIn-menu a.active{
    color: navy;
    float: left;
    cursor: default;
}
form.signIn{
    width: 100%;
    margin-top: 1em;
    max-width: 30em;
    display: inline-block;
}
form.signIn .inputLine{
    width: 100%;
    position: relative;
    margin: 1em 0;
}
.pageErr{
    color:red;
    height: 1em;
}
form.signIn .inputLine.rememberMe{
    margin-bottom: 0.2em;
}
form.signIn .inputLine.submit{
    margin-top: 0.5em;
}
form.signIn .resErr{
    display: block;
    width: 100%;
    height: 1em;
    color: firebrick;
}
form.signIn label[for='login'], form.signIn label[for='password']{
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: darkgray;
    height: 1.2em;
    visibility: hidden;
}
form.signIn label[for='login'].shown, form.signIn label[for='password'].shown{
    visibility: visible;
}
form.signIn input[type='text'], form.signIn input[type='password']{
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: navy;
    border: none;
    border-bottom: 2px solid navy;
    height: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    text-align: center;
}
form.signIn input[type='submit']{
    font-weight: bold;
    font-size: 1em;
    background-color: navy;
    color: #ffffff;
    padding: 0.2em;
    width: 15em;
}
a.sb_auth{
    display: block;
    font-size: 1.5em;
    color: navy;
    margin-bottom: 0.5em;
    border-bottom: 1px solid grey;
}
a.sb_auth img{
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
    margin-right: 1em;
}