.srv-frame
{
    /*border: 1px solid blue;*/
    width: 96%;
    margin-left: 2%;
}

.srv-frame h2
{
    font-size: 1.2em;
    color: midnightblue;
    border-bottom: 2px solid midnightblue;
}

.srv-ln
{
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid midnightblue;
    /*border-radius: 0.5em;*/
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.srv-ln .srv-capt
{
    display: block;
    /*width: 100%;*/
    font-weight: bold;
    margin-top: 0.5em;
    /*background-color: midnightblue;*/
    color: white;
    margin-bottom: 1em;
    text-align: left;
    padding-left: 1em;
}

.srv-ln .srv-capt span
{
    background-color: midnightblue;
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: inline-block;
    height: 1.2em;
    vertical-align: middle;
}

.srv-ln .srv-capt span.before
{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.6em solid transparent;
    border-bottom: 0.6em solid transparent;
    border-left: 0.4em solid white;
    vertical-align: middle;
    /*border-right: 1em solid yellow;*/
}

.srv-ln .srv-capt span.after
{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.6em solid white;
    border-bottom: 0.6em solid white;
    border-left: 0.4em solid midnightblue;
    vertical-align: middle;
    /*border-right: 1em solid yellow;*/
}

.srv-ln .srv-img
{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.srv-ln .srv-img img
{
    height: 5em;
    width: 5em;
}

.srv-ln .srv-txt
{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

.srv-ln .srv-txt .srv-cntrl
{
    text-align: right;
    margin-right: 1em;
}

.srv-ln .srv-txt .srv-cntrl span
{
    color: darkgreen;
    cursor: pointer;
    font-weight: bold;
}

.srv-ln .srv-txt .srv-cntrl span.srv-price
{
    color: firebrick;
    font-size: 1.2em;
    margin-right: 1em;
}

.srv-ln .srv-txt .srv-cntrl span img
{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.srv-descr
{
    border: 1px dotted gray;
    padding: 0.5em;
    margin: 1em;
}
/*
.srv-ln .srv-txt .srv-price
{
    text-align: right;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 1em;
}
*/
.srv-ln .srv-txt .detail
{
    width: 95%;
    margin-right: 5%;
    text-align: right;
}

.srv-ln .srv-txt .detail a
{
    color: midnightblue;
}

.orderBtn span.active
{
    text-shadow: 2px 2px 2px aqua, -2px -2px 2px aqua, 2px -2px 2px aqua, -2px 2px 2px aqua;
    color: navy;
    /*font-weight: bold;*/
}

.longDescr
{
    border: 2px solid midnightblue;
    border-radius: 0.3em;
    margin-bottom: 1em;
    width: 90%;
    margin-left: 5%;
}