.srv-frame{
    width: 96%;
    margin-left: 2%;
}
.srv-frame h2 {
    font-size: 1.2em;
    color: midnightblue;
    border-bottom: 2px solid midnightblue;
}
.srv-ln {
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px dotted midnightblue;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.srv-ln .srv-capt {
    display: block;
    font-weight: bold;
    margin-top: 0.5em;
    color: white;
    margin-bottom: 1em;
    text-align: left;
    padding-left: 1em;
}
.srv-ln .srv-capt span {
    background-color: midnightblue;
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: inline-block;
    height: 1.2em;
    vertical-align: middle;
}
.srv-ln .srv-capt span.before {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.6em solid transparent;
    border-bottom: 0.6em solid transparent;
    border-left: 0.4em solid white;
    vertical-align: middle;
}
.srv-ln .srv-capt span.after {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.6em solid white;
    border-bottom: 0.6em solid white;
    border-left: 0.4em solid midnightblue;
    vertical-align: middle;
}
.srv-ln .srv-img {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.srv-ln .srv-img img {
    height: 5em;
    width: 5em;
}
.srv-ln .srv-txt {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.srv-ln .srv-txt .srv-cntrl {
    text-align: right;
    margin-right: 1em;
}

.srv-ln .srv-txt .srv-cntrl span.srv-price {
    font-weight: bold;
}
.srv-ln .srv-txt .srv-cntrl span.addBucket,
.srv-ln .srv-txt .srv-cntrl span.rmBucket {
    display: none;
    cursor: pointer;
    font-weight: bold;
}
.srv-ln .srv-txt .srv-cntrl span.active {
    display: inline-block;
}
span.addBucket {
    color: darkgreen;
}
span.rmBucket {
    color: darkred;
}
a.toOrder {
    color: navy;
    margin-left: 0.5em;
    display: none;
}
a.toOrder.active {
    display: inline-block;
}
.srv-ln .srv-txt .srv-cntrl span.srv-price {
    color: firebrick;
    font-size: 1.2em;
    margin-right: 1em;
}
.srv-ln .srv-txt .srv-cntrl span img, .srv-ln .srv-txt .srv-cntrl a img {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}
.srv-descr {
    border: 1px dotted gray;
    padding: 0.5em;
    margin: 1em;
}
.srv-ln .srv-txt .detail {
    width: 95%;
    margin-right: 5%;
    text-align: right;
}
.srv-ln .srv-txt .detail a {
    color: midnightblue;
}
.orderBtn span.active {
    text-shadow: 2px 2px 2px aqua, -2px -2px 2px aqua, 2px -2px 2px aqua, -2px 2px 2px aqua;
    color: navy;
}
.longDescr {
    border: 2px solid midnightblue;
    border-radius: 0.3em;
    margin-bottom: 1em;
    width: 86%;
    margin-left: 5%;
    text-align: left;
    padding: 2%;
}
.toSrv{
    width: 86%;
    margin-left: 5%;
    text-align: left;
    padding: 0 2% 2% 2%;
}
.toSrv a{
    display: inline-block;
    color: midnightblue;
}
.toSrv a img{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.srv-frame.dev h2 {
    color: Chocolate;
    border-bottom: 2px solid Chocolate;
}

.srv-frame.dev .srv-ln .srv-capt span.before {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.6em solid transparent;
    border-bottom: 0.6em solid transparent;
    border-left: 0.4em solid white;
    vertical-align: middle;
}
.srv-frame.dev .srv-ln .srv-capt span {
    background-color: Chocolate;
}
.srv-frame.dev .srv-ln .srv-capt span.after {
    border-left: 0.4em solid Chocolate;
}