.srv-frame, .nb, .att {
    width: 96%;
    margin-left: 2%;
    display: inline-block;
}
h2 {
    text-align: left;
    font-size: 1.2em;
    margin: 1.5em 0 0 0;
}
h2 img {
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
}
.order-line {
    width: 70%;
    text-align: left;
    border-bottom: 1px dotted midnightblue;
    margin-bottom: 0.2em;
}
.order-img {
    text-align: center;
    vertical-align: middle;
    width: 20%;
    display: inline-block;
}
.order-img img {
    height: 1.2em;
    width: 1.2em;
    border-radius: 0.2em;
}
.order-nm {
    width: 50%;
    display: inline-block;
}
.order-price {
    width: 30%;
    display: inline-block;
    text-align: right;
}
.toSrv {
    width: 95%;
    text-align: right;
}
.toSrv a {
    color: midnightblue;
}
form.order {
    margin: 1em 0 1em 0;
    text-align: left;
    margin-left: 10%;
    width: 80%;
}
form.order label {
    display: block;
    width: 90%;
}
form.order textarea {
    width: 50%;
    font-size: 0.9em;
    font-style: italic;
}
form.order input[type=button] {
    background-color: darkgreen;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    margin-top: 0.5em;
    padding: 0.1em;
    border-radius: 0.3em;
}
.paymType{
    margin-bottom: 1em;
}
.paymType span{
    display: inline-block;
    width: 100%;
    font-weight: bold;
}
.paymType-selector{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.paymType-descr{
    font-size: 0.8em;
    width: 47%;
    display: none;
    padding: 1%;
}
.paymType-descr.donate{
    border: 1px solid red;
}
.paymType-descr.shop{
    border: 1px solid green;
}
.paymType-descr.active{
    display: inline-block;
}
.nb, .att {
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 1em;
}
.att {
    color: darkred;
}
@media only screen and (max-width : 1024px) and (orientation : portrait) {
    .order-line     {
        width: 100%;
        margin-top: 0.4em;
    }
    .toSrv a {
        margin-bottom: 1em;
    }
    form.order textarea {
        width: 90%;
    }
    form.order .paymType-selector {
        width: 90%;
    }
    form.order .paymType-descr {
        width: 90%;
    }
}