.update {
    background-color: rgba(100, 100, 255, 0.2);
    width: 100%;
    margin-top: 1em;
    text-align: left;
    padding: 0.5em;
}
.update span {
    margin: 0 1em 0 1em;
    font-style: italic;
}
.update a{
    margin-left: 1em;
    color: midnightblue;
}
.paidStat, .bucketInfo {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    margin-bottom: 1em;
}
.paidStat span.paid{
    display: block;
    margin: 1em 0 1em 0;
    color: #00ff00;
}
.paidStat span.not-paid{
    margin: 1em 0 1em 0;
    display: block;
    color: red;
}
.paidStat div{
    margin: 0.2em 0 0.2em 0;
}
.paidStat span.fldName{
    font-weight: bold;
    margin-left: 1em;
}
.paidStat span.fldVal{
    margin-left: 1em;
    text-decoration: underline;
}
.bucketInfo{
    margin-bottom: 1em;
}
.bucketInfo span.yBacket{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}
/*like mkOrder-->*/
.order-line {
    width: 70%;
    text-align: left;
    border-bottom: 1px dotted midnightblue;
    margin-bottom: 0.2em;
}
.order-img {
    text-align: center;
    vertical-align: middle;
    width: 20%;
    display: inline-block;
}
.order-img img {
    height: 1.2em;
    width: 1.2em;
    border-radius: 0.2em;
}
.order-nm {
    width: 50%;
    display: inline-block;
}
.order-price {
    width: 30%;
    display: inline-block;
    text-align: right;
}
@media only screen and (max-width : 1024px) and (orientation : portrait) {
    .order-line {
        width: 100%;
        margin-top: 0.4em;
    }
}
/*<!--like mkOrder*/