.s-frame{
    /*border: 1px solid red;*/
    margin: 1em 2%;
    width: 96%;
}
.s-title{
    width: 100%;
    border-bottom: 1px solid midnightblue;
}
.s-title-cover{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.s-title-cover img{
    width: 3em;
    height: 3em;
}
.s-title-descr{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}
.s-title-descr h2{
    color: midnightblue;
}
.s-title .dateLine{
    width: 100%;
    text-align: left;
}
.s-title span.dateFld{
    font-weight: bold;
    min-width: 10em;
    display: inline-block;
    color: midnightblue;
}
.s-title span.dateVal{
    font-weight: bold;
    font-size: 0.8em;
}
.longDescr{
    margin: 0.5em 0;
    border-radius: 0.5em;
    border: 2px solid midnightblue;
}
.fOptMenu{
    font-size: 0.8em;
    background-color: rgba(0,255,0,0.2);
    display: inline-block;
    width: 100%;
}
.fOptMenu .info{
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}
.fOptMenu .fpNum{
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}
.fOptMenu .options{
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}
.fOptMenu .options label{
    display: block;
}
.fOptMenu .options select{
    font-size: 1em;
}
.fOptMenu .fpNum a.active{
    font-weight: bold;
    font-size: 1.2em;
}
/*
label[for='fOptPN']:before{
    content: "показывать по ";
}
label[for='fComView']:before{
    content: "Вид: ";
}
*/
.comments-block{
    width: 94%;
    padding: 1em 3%;
    border: 2px solid midnightblue;
    border-radius: 0.3em;
}
.comments-block ul:first-child{
    margin: 0;
    padding: 0;
}
.comments-block ul li{
    font-size: 0.8em;
    width: 100%;
    display: inline-block;
    list-style: none;
}
.comments-block .com-line{
    width: 98%;
    display: inline-block;
    padding: 1em 1%;
    border-bottom: 1px dotted gray;
    border-left: 1px dotted gray;
}
.comments-block .com-img{
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.comments-block .com-img img{
    height: 3em;
    width: 3em;
    border-radius: 0.5em;
    border: 2px solid darkgoldenrod;
}
.comments-block .com-info{
    width: 85%;
    display: inline-block;
    vertical-align: middle;
}
.comments-block .com-info a{
    text-decoration: none;
    color: #000000;
}
.comments-block .com-alias{
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}
.comments-block .com-content-frame{
    margin-top: 0.2em;
}
.comments-block .com-content{
    display: inline-block;
    padding: 0.5em;
    background-color: rgba(25,25,50,1);
    color: #ffffff;
    font-style: italic;
    border: 2px solid darkgoldenrod;
    border-radius: 0.5em;
}
.comments-block .com-date{
    display: inline-block;
    margin-left: 2em;
    font-family: "courier new";
    font-size: 0.8em;
    font-weight: bold;
}
.comments-block .com-content p{
    padding: 0;
    margin: 0;
}
.comments-block span.com-wrCm{
    cursor: pointer;
}