a.signIn img
{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin-right: 1em;
}

form.diagSl{
    text-align: left;
    margin-top: 1em;
    width: 100%;
}
form.diagSl h3{
    font-size: 1em;
}
form.diagSl .input-line{
    margin: 0.5em 2% 1em 2%;
    display: inline-block;
    width: 46%;
    vertical-align: middle;
}
form.diagSl .input-line label{
    display: inline-block;
    width: 50%;
}
.wdSearch{
    display: none;
    text-align: left;
    margin-top: 1em;
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
    margin-bottom: 1em;
}
.wdSearch.active{
    display: block;
}
.search-line div, .line div{
    display: inline-block;
    border-right: 1px solid blue;
}
.search-line div:first-child, .line div:first-child {
    border-left: 1px solid blue;
}
a.editP{
    color: midnightblue;
}
a.editP img{
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
    margin-right: 1em;
}
.caption{
    background-color: navy;
    color: white;
    font-weight: bold;
}
.caption div{
    border-right: 1px solid white;
}
.caption div:first-child{
    border-left: 1px solid white;
}
a.showRes{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.diagResults{
    text-align: left;
    margin: 1em 0;
}
.diagResults .diag-info{
    border-bottom: 1px solid navy;
    padding-bottom: 0.5em;
}
.diagResults .diag-info span.fName{
    min-width: 15em;
    display: inline-block;
}
.diagResults .diag-info span.fVal{
    text-decoration: underline;
    font-style: italic;
}
.line.top{
    margin-bottom: 1em;
}
.line div{
    padding-left: 1em;
    border-bottom: 1px solid navy;
}
.line .td-15{
    width: 15%;
}
.line .td-40{
    width: 40%;
}
.line .td-45{
    width: 45%;
}
.line .td-20{
    width: 20%;
    padding-left: 1em;
}
.line .td-30 {
    width: 30%;
    padding-left: 1em;
}
.line .td-35 {
    padding-left: 1em;
    width: 35%;

}