.wi-menu{
    text-align: left;
    width: 100%;
    border-bottom: 2px solid midnightblue;
    margin: 1em 0 0 0;
    padding-bottom: 0.5em;
}
.wi-menu a{
    cursor: pointer;
    margin: 0 1em 0 1em;
    padding: 0 0 0.5em;
    color: darkgreen;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;

}
.wi-menu a.active{
    color: navy;
    text-decoration: underline;
}
.wi-menu a img{
    margin-right: 0.5em;
    vertical-align: middle;
    height: 1.8em;
    width: 1.8em;
    border-radius: 0.5em;
    display: inline-block;
}