.res-frame{
    width: 90%;
    margin: 5%;
    border: 2px solid firebrick;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 80vh;
    display: none;
}

.qpOptions{
    display: inline-block;
    width: 50%;
}

/*
label{
    border: 1px solid blue;
    display: inline-block;
    width: 50%;
    color: green;
}
*/
label[for='qp-limit']{
    text-align: right;
}

label input[type='number']{
    font-size: 1em;
    width: 4em;
    margin: 0 1em;
}

.res-frame.active{
    display: block;
}
table tr td{
    border-bottom: 1px dotted green;
}
table tr:nth-child(2n+2){
    background-color: rgba(0, 255, 0, 0.1);
}
table td{
    border-right: 1px solid silver;
}
table tr.caption td{
    background-color: navy;
    color: white;
    font-weight: bold;
}