.list-frame ul .cat-line-descr, .list-frame ul .itm-line-addInfo
{
    padding-top: 0.5em;
    font-size: 0.6em;
    color: darkgreen;
    display: inline-block;
    width: 100%;
}
h2{
    padding-bottom: 0.5em;
}
.art-header{
    background-color: navy;
    color: white;
    width: 90%;
    padding: 1.5em 5%;
    margin-bottom: 2em;
    border-radius: 0.5em;
}
.art-header-img{
    display: inline-block;
    width: 29%;
    vertical-align: middle;
}
.art-header-img img{
    height: 4em;
    width: 4em;
}
.art-header-descr{
    border: 1px solid navy;
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
.art-header-descr a{
    color: orange;
    font-size: 1.5em;
}
.art-header-descr div{
    font-size: 0.8em;
    border: 1px dotted gray;
    padding: 2%;
    margin: 2% 0;
    width: 92%;
    display: inline-block;
}
.art-header .dateLine{
    font-size: 0.8em;
    width: 100%;
    text-align: left;
}