.parse-ad-descks{
    display: inline-block;
    width: 90%;
    text-align: left;
    font-size: 0.8em;
}
.parseLog{
    padding-top: 1.5em;
    width: 90%;
    /*border: 1px solid red;*/
    display: inline-block;
    text-align: left;
}
.parseLog h2{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
.parseLog .parseLog-controls{
    width: 100%;
    text-align: right;
    /*border: 1px solid green;*/
}
.parseLog .parseLog-controls label{
    font-weight: bold;
}
.parseLog .parseLog-controls input[type='number']{
    margin: 0 1em;
    font-size: 0.8em;
    width: 2em;
}
.parseLog .parseLog-controls input[type='button']{
    font-size: 0.8em;
    font-weight: bold;

}
.logRes{
    font-size: 0.8em;
    text-align: left;
    display: inline-block;
    width: 90%;
    border-bottom: 1px dotted gray;
}
.logRes h3{
    font-size: 1em;
}
.logRes .logType{
    display: inline-block;
    /*border-left: 1px solid blue;*/
    width: 33%;
}
.logRes .logType span{
    font-weight: bold;
}
.logRes .log-type-res{
    width: 97%;
    margin-left: 3%;
    border-bottom: 1px solid gray;
}
.tbl-opt-wrap{
    background-color: silver;
    display: inline-block;
    width: 90%;
    border: 1px solid navy;
    padding: 0.5em 0;
    margin: 0.5em 0;
}
.tbl-opt-wrap .tbl-pages{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
.tbl-opt-wrap .tbl-pages a{
    padding: 0.2em;
    color: navy;
}
.tbl-opt-wrap .tbl-pages a.active{
    font-size: 1.2em;
}
.tbl-opt-wrap .tbl-opt{
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: 50%;
    border-left: 1px solid green;
}
.tbl-opt-wrap .tbl-opt label{
    padding: 0.2em 0 0.2em 5%;
    display: block;
    width: 95%;
}
.tbl-opt-wrap .tbl-opt select{
    background-color: silver;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
    float: right;
}
.line.caption div{
    color: white;
    font-weight: bold;
    background-color: navy;
    border-left: 1px solid white;
    /*border: 2px solid red;*/
}
.line.ad{
    border-bottom: 1px solid blue;
}
.line.ad .content-wrap div{
    border-right: 1px solid #0000ff;
}
.line.ad .content-wrap div:first-child{
    border-left: 1px solid #0000ff;
}
.content-wrap{

    width: 100%;
    border-bottom: 1px dotted gray;
}
.content-wrap div{
    vertical-align: middle;
}
.line.ad .ad_ref{
    width: 10%;
    display: inline-block;
}
.line.ad .prodName{
    width: 40%;
    display: inline-block;
}
.line.ad .prodComp{
    width: 15%;
    display: inline-block;
}
.line.ad .prodSaler{
    width: 20%;
    display: inline-block;
}
.line.ad .prodPrice{
    width: 20%;
    display: inline-block;

}
.line.ad .control-wrap{
    width: 90%;
    display: inline-block;
    font-size: 0.5em;
    text-align: left;
}
.line.ad .prodDescr{
    width: 90%;
    border: 2px solid red;
    font-size: 0.5em;
    display: none;
}
.line.ad .adInfo{
    width: 90%;
    display: inline-block;
    font-size: 0.5em;
    text-align: left;
}
.line.ad .adInfo span{
    display: block;
}
.line.ad .control-wrap span{
    display: inline-block;
    cursor: pointer;
}
.line.ad .control-wrap span:after{
    content: "[+]";
}
.line.ad .control-wrap span.active:after{
    content: "[-]";
}