.line.caption div{
    color: white;
    font-weight: bold;
    background-color: navy;
    border-left: 1px solid white;
    /*border: 2px solid red;*/
}
.line.ad{
    border: 1px solid blue;
}
.line.ad .ad_id{
    width: 10%;
    display: inline-block;
}
.line.ad .prodName{
    width: 30%;
    display: inline-block;
}
.line.ad .prodComp{
    width: 15%;
    display: inline-block;
}
.line.ad .prodSaler{
    width: 15%;
    display: inline-block;
}
.line.ad .prodPrice{
    width: 20%;
    display: inline-block;

}
.line.ad .prodDescr{
    width: 90%;
    display: inline-block;
    border: 2px solid red;
    font-size: 0.5em;
}