.mc-wrap{
    background: url("/site/marijuanaClub/img/cannabis-wallpappers.jpg");
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;

}
.mc-container{
    margin: 0 20%;
    width: 60%;
    border-top: 1px solid #00ff00;
    border-bottom: 1px solid #00ff00;
    border-left: 2px solid #00ff00;
    border-right: 2px solid #00ff00;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}
.mc-container-wrap{

}
.mc-container-wrap.gbMode{
    margin-top: 1em;
}
.mc-container-wrap.gbNote{
    margin: 1em 0;
}
.mode-list{
    margin: 0 5%;
    width: 90%;
    border: 2px dashed lightgreen;
}
.slider-range-wrap{
    width: 80%;
    margin: 1em 10%;
}
label.lbCheckBox{
    color: white;
}

/*mode-controls -->*/
.mode-controls{

    display: inline-block;
    margin: 0;
    width: 100%;
    font-weight: bold;
    /*border: 2px solid red;*/
}
.mode-controls span, .mode-controls label{
    margin-top: 0.2em;
    color: white;
    width: 100%;
    display: inline-block;
}
.mode-controls .note-content-wrap{
    width: 100%;

    margin-top: 1em;
    margin-bottom: 1em;
}
.mode-controls .note-content-wrap textarea{
    width: 90%;
    font-size: 1em;
    font-style: italic;
    background: transparent;
    color: white;
    border: 1px dotted #c0c0c0;
    padding: 0.5em;
}


#slider-range{
    background: darkred;
}
#slider-range .ui-slider-range.ui-corner-all.ui-widget-header{
    background: limegreen;
}
#slider-range span{
    background: midnightblue;
}
.mc-container .actLog{

    color: white;
    font-weight: bold;
    margin-top: 1em;
    font-size: 0.8em;
}
.actLog.well{
    background: #008000;
}
.actLog.fail{
    background: darkred;
}

label.mcGb-invert{
    color: white;
}


.gbMode-hours{
    width: 100%;
    color: white;
    font-weight: bold;
}
.gbMode-hours span.light-on{
    color: #00ff00;
}
.gbMode-hours span.light-off{
    color: red;
}
.gb-note-content{
    color: white;
    font-style: italic;
    margin: 5%;
    padding-top: 0.5em;
    border-top: 1px dotted #c0c0c0;
    border-left: 1px dotted #c0c0c0;
    border-right: 1px dotted #c0c0c0;
}
.mode-controls label input, .mode-controls span input, .mode-controls span select{
    margin-right: 5%;
    border: none;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    width: 45%;
    border-bottom: 1px solid midnightblue;
    color: white;
    background: transparent;
}
.mode-controls span select option{
    background: black;
}
.mode-controls label input{
    float: right;
}
.mode-controls-btn-wrap{
    width: 90%;
    padding: 0.5em 5%;
}


.mode-controls-btn{

    display: inline-block;
    width: 30%;
}

.mode-controls-btn.mcBtnDelete a{
    color: red;
}
.mode-controls-btn.mcBtnEdit a{
    color: #c0c0c0;
}
.mode-controls-btn.mcBtnCreate a{
    color: limegreen;
}
.mode-controls-btn.mcBtnGoBack a{
    color: white;
}


.mode-controls span:before{
    width: 30%;
    display: inline-block;
}
.mode-controls span:after{
    width: 20%;
    display: inline-block;
}
span.mcGbNote-temp{
    font-weight: bold;
    color: orange;
}
span.mcGbNote-temp:before{
    font-weight: normal;
    color: red;
    content: "Температура: ";
}
span.mcGbNote-temp:after{
    text-decoration: none;
    font-weight: normal;
    color: red;
    content: " *C";
}
span.mcGbNote-humid{
    font-weight: bold;
    color: lightblue;
}
span.mcGbNote-humid:before{
    font-weight: normal;
    color: #00ff00;
    content: "Влажность: ";
}
span.mcGbNote-humid:after{
    text-decoration: none;
    font-weight: normal;
    color: #00ff00;
    content: " %";
}
span.mcGbNote-el{
    font-weight: bold;
    color: lightblue;
}
span.mcGbNote-el:before{
    font-weight: normal;
    color: aqua;
    content: "Электричество: ";
}
span.mcGbNote-el:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: " кВт*ч";
}

span.mcGbLights-Model{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: " кВт*ч";
}
span.mcGbLights-Model:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Model: ";
}
span.mcGbLights-Model:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "";
}
span.mcGbLights-Power{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
span.mcGbLights-Power:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Power: ";
}
span.mcGbLights-Power:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: " (W)";
}
span.mcGbLights-ColorT{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
span.mcGbLights-ColorT:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Color: ";
}
span.mcGbLights-ColorT:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: " (K)";
}
span.mcGbLights-settle{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
span.mcGbLights-settle:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Settle: ";
}
span.mcGbLights-settle:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "";
}
span.mcGbLights-lightType{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
span.mcGbLights-lightType:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Type: ";
}
span.mcGbLights-lightType:after{
    text-decoration: none;
    font-weight: normal;
    color: red;
    content: "";
}
span.mcGbLight-name{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
span.mcGbLight-name:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Name: ";
}
span.mcGbLight-name:after{
    text-decoration: none;
    font-weight: normal;
    color: red;
    content: "";
}
span.mcGbLight-lightStatus{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
span.mcGbLight-lightStatus:before{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: "Status: ";
}
span.mcGbLight-lightStatus:after{
    text-decoration: none;
    font-weight: normal;
    color: red;
    content: "";
}
/*
span.mcGbLights-settle:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
}
*/
/*
span.mcGbLights-Model:after{
    text-decoration: none;
    font-weight: normal;
    color: aqua;
    content: " кВт*ч";
}
*/



.mode-controls-btn img{
    vertical-align: middle;
    height: 1em;
    width: 1em;
}
.mode-controls input[type='button']{
    margin: 2em 0.5em 0.5em 0.5em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.2em;
}
.mode-controls .mode-controls-btn.toDel input[type='button']{
    color: #000000;
    background: red;

}
.mode-controls .mode-controls-btn.toUpdate input[type='button']{
    color: midnightblue;
    background: lightgreen;
}
.mc-container .top-panel{
    /*border: 1px solid #008000;*/

}
.mc-container .top-panel .btn-pre, .mc-container .top-panel .btn-next{
    display: inline-block;
    width: 15%;
    cursor: pointer;
}
.mc-container .top-panel .btn-pre img, .mc-container .top-panel .btn-next img{
    height: 1em;
    width: 1em;
}
.mc-container .top-panel h4 span{
    display: block;
    font-weight: normal;
}
.timeMode-slider{
    width: 45%;
    border: 1px solid red;
    display: inline-block;
    vertical-align: middle;
}
.timeMode-monitor {
    font-size: 0.8em;
    width: 50%;
    border: 1px solid orange;
    display: inline-block;
    vertical-align: middle;
}
.new-time-mode{
    border: 2px dotted #008000;
    width: 100%;
}
.mc-container h6{
    color: orange;
    font-size: 1em;
    padding: 0px;
    margin: 0.5em;


}

.mc-container .top-panel h6 {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
}
h6 span.stDate-mode{
    display: block;
    color: #c0c0c0;
    font-size: 0.8em;
}
div.light-on{
    color: #00ff00;
}
div.light-off{
    color: red;
}

.bottom-panel{
    width: 100%;
}
.bottom-panel a{

}
.bottom-panel a img{
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
}
.bottom-panel a.edit-btn{
    float: left;
}
.bottom-panel a.create-btn{
    float: right;
}