h4.tricks{
    text-align: center;
    text-decoration: underline;
}

.loading-animation {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
}

.loading-animation .loading-test{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
}

.loading-animation .loading-test::before, .loading-test::after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading-animation .loading-test::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.loading-animation .loading-test::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loading-animation .loading-test span{
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}

.layered-img-hover{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow: hidden;
}

.layered-img-hover .box{
    position: relative;
    width: 360px;
    height: 640px;
    margin-top: 150px;
    background: rgba(0,0,0,.1);
    transform: rotate(-30deg) skew(25deg) scale(.8);
}

.layered-img-hover .layer{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("/data-arts/arts/24/Screenshot_20190703-171425_Samsung%20Experience%20Home.jpg");
    transition: 0.5s;
    background-size: cover;
}

.layered-img-hover .box:hover .layer:nth-child(4){
    transform: translate(160px, -160px);
    opacity: 1;
}

.layered-img-hover .box:hover .layer:nth-child(3){
    transform: translate(120px, -120px);
    opacity: 0.8;
}

.layered-img-hover .box:hover .layer:nth-child(2){
    transform: translate(80px, -80px);
    opacity: 0.6;
}

.layered-img-hover .box:hover .layer:nth-child(1){
    transform: translate(40px, -40px);
    opacity: 0.4;
}

/*Creative button animation effect-->*/

.btn-animate{

    /*
    margin: 0;
    padding: 0;
    background: #0c002b;
    font-family: sans-serif;
    position: relative;
    */
    /*background: #000000;*/
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
    position: relative;
}

.btn-animate a{
    color: navy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,255,.5);
    overflow: hidden;
}

.btn-animate a::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
}

.btn-animate a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, white, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.btn-animate a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, white, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
.btn-animate a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, white, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
.btn-animate a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, white, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}
/*Creative button animation effect<--*/

/*3D Responsive Touch Slider Using Html CSS & Swiper.js-->*/
.swiper-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #383838;*/
    font-family: 'Poppins', sans-serif;
}

.swiper-container .card
{
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.swiper-container .card .content
{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.swiper-container .card .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.swiper-container .card .sliderText h3
{
    color: #fff;
    font-size: 3em;
}

.swiper-container .card .content a
{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #000;
    color: #262626;
    font-weight: 600;
}

.swiper-container .swiper-slide
{
    width: 400px;
}

.swiper-container .swiper-slide:nth-child(1) .sliderText
{
    background: red;
}
.swiper-container .swiper-slide:nth-child(2) .sliderText
{
    background: #0000ff;
}
.swiper-container .swiper-slide:nth-child(3) .sliderText
{
    background: #008000;
}
/*3D Responsive Touch Slider Using Html CSS & Swiper.js<--*/