.mainMenu
{
    border: 1px solid midnightblue;
    margin: 1em 0 1em 0;
    padding-top: 0.5em;
}

.mainMenu a
{
    color: midnightblue;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.8em;
    display: inline-block;
    text-decoration: none;
}
.mainMenu img
{
    height: 1.8em;
    width: 1.8em;
    vertical-align: middle;
}


.mainMenu a.active
{
    background-color: orange;
}
.mainMenu a:hover
{
    background: linear-gradient(rgba(0, 255, 255, 0), rgba(0, 255, 255, 1));
}

.subMenu a
{
    font-size: 1.2em;
    font-weight: bold;
    font-style: inherit;
    color: red;
    padding: 2px;
    background: transparent;
    border: none;
    margin: 0 1em 1em 1em;
}

.subMenu input[type="date"]
{
    background: transparent;
    font-style: italic;
    border: none;
    border-bottom: 1px solid lime;
    color: midnightblue;
    margin-right: 1em;
    font-size: 1.2em;
}

.subMenu input[type="button"]
{
    background: darkgreen;
    color: orange;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid dodgerblue;

}

.subMenu
{
    padding: 10px;
    text-align: left;
    font-size: 0.8em;
    /*color: #ffffff;*/
}

/*diaryNote_new*/
.mkDiary
{
    width: 100%;
    border: 1px solid blue;
    border-radius: 10px;
}

.diary_content
{

    margin: 10px;
}

.mkDiary input[type='date'], .mkDiary input[type='time']
{
    margin: 10px;
    width: 30%;
    max-width: 200px;
}

.mkDiary textarea
{
    display: block;
    width: 90%;
    max-width: 900px;
    height: 250px;
}

.mkDiary strong
{
    color: #ffffff;
}

.middlePanel
{
    border: 2px inset midnightblue;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    text-align: left;
    margin: 5px;
}

span.field_err
{
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

.diaryNote
{
    border-bottom: 1px solid limegreen;
    padding: 1%;
    margin: 1%;
}

.note
{
    border-left: 1px dotted #c0c0c0;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 10px;
    display: none;
    font-size: 0.8em;
}

label.diaryType
{
    color: lawngreen;
    font-size: 1.2em;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

label.diaryType:after
{
    content: "+";
}

label.diaryType.active:after
{
    content: "-";
}

label.noteDate
{
    margin-left: 10px;
    text-decoration: underline;
    color: goldenrod;
    font-size: 1.2em;
    font-weight: bold;
}

.note label.curDate
{
    margin-right: 20px;
    color: lightblue;
    text-decoration: underline;
}

.note label.curTime
{
    color: lightblue;
    text-decoration: underline;
}

.note a
{
    color: lightblue;
    margin: 5px;
}
.note .dCont{
    font-size: 1.2em;
    font-style: italic;
}
span.delDiary
{
    margin-left: 30px;
    color: red;
    cursor: pointer;
}
