.alb-frame, .cat-frame, .photo-frame{
    width: 90%;
    margin-left: 5%;
}

.alb-frame-wrapper
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2{
    font-size: 1.2em;
    border-bottom: 2px solid navy;
    margin: 1em 0 1em 0;
}
.alb-block
{
    position: relative;
    width: 40%;
    margin: 2%;
    padding-bottom: 2%;
    border-radius: 0.5em;
    border: 1px solid #000000;
    display: inline-block;
}
/*
.swiper-slide:nth-child(1) .alb-block
{
    border: 2px solid #00ff00;
}

.swiper-slide:nth-child(2) .alb-block
{
    border: 2px solid orange;
}

.swiper-slide:nth-child(3) .alb-block
{
    border: 2px solid #0000ff;
}
*/
.alb-block a.alb-name{
    width: 96%;
    display: block;
    font-weight: bold;
    text-decoration: underline;
    color: navy;
    font-size: 1.2em;
    margin: 3% 2% 2% 2%;

}

.alb-block a.viewAlb-slider
{
    display: inline-block;
    font-weight: bold;
    color: navy;
    border: 1px solid #000000;
    text-decoration: none;
    padding: 0.4em;
    margin-top: 1em;
}
/*
.swiper-slide:nth-child(1) a.alb-name{
    color: #00ff00;
}

.swiper-slide:nth-child(2) a.alb-name{
    color: orange;
}
.swiper-slide:nth-child(3) a.alb-name{
    color: #0000ff;
}
*/

.alb-img{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.alb-img img{
    height: 90%;
    width: 90%;
}
/*
.alb-txt{
    display: inline-block;
    width: 70%;
    color: #000000;
    vertical-align: middle;
    padding: 0.5em 0 0.5em 0;
}
.alb-txt a.alb-name, .alb-txt .alb-name {
    width: 100%;
    font-weight: bold;
    text-decoration: underline;
    color: navy;
    font-size: 1.2em;
}
*/
.alb-block .alb-descr{
    width: 90%;
    font-style: italic;
    color: #000000;
    padding: 2%;
    border: 1px dotted #c0c0c0;
    margin: 3%;
}
.alb-block .alb-info{
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    padding-left: 0.5em;
}
.alb-block .alb-info a{
    color: #008000;
}
span.flName{
    font-weight: bold;
    color: darkslategray;
}
span.flVal{
    color: #008000;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1em;
}
.cat-frame a.cat-line{
    text-align: left;
    width: 100%;
    display: block;
    border-bottom: 1px solid #c0c0c0;
    padding: 1em 0 1em 0;
    text-decoration: none;
    color: #000000;
}
.cat-frame a .cat-img{
    width: 20%;
    vertical-align: middle;
    display: inline-block;
}
.cat-frame a .cat-img img{
    height: 2.5em;
    width: 2.5em;
    border-radius: 0.3em;
}
.cat-frame a .cat-descr{
    width: 80%;
    vertical-align: middle;
    display: inline-block;
}
.cat-frame a .cat-descr span.descrTxt{
    display: block;
    font-style: italic;
    color: darkslategray;
    margin: 0.5em 0.5em 0 0;
}
.nav-frame{
    margin: 1em 0 1em 0;
    width: 100%;
    text-align: left;
}
.toAlbums, .toCategory{
    margin-left: 2em;
    text-align: left;
    display: inline-block;
}
.toAlbums a, .toCategory a{
    font-weight: bold;
    color: navy;
}
.cat-frame span.cap2{
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: navy;
    display: block;
}

@media only screen and (max-width : 1024px){
    .alb-block{
        width: 50%;
        border: 1px solid #000000;
        margin: 2% 0 5% 0;
    }
}