form{
    border: 2px solid darkgreen;
    border-radius: 0.3em;
    width: 90%;
    margin: 5%;
}
form label{
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: left;
    margin: 1em 0 1em 1em;
}
textarea{
    display: block;
    width: 90%;
    margin: 0 5% 5% 5%;
    font-size: 1em;
}
.queryPanel{
    border: 2px solid darkblue;
    border-radius: 0.3em;
    width: 90%;
    margin: 5%;
}
.queryPanel-left{
    display: inline-block;
    width: 49%;
    border-right: 1px solid navy;
    vertical-align: middle;
}
.queryPanel-left span.resTxt{
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding-left: 1em;
}
.queryPanel-left .queryResults{
    color: white;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 95%;
}
.queryPanel-right{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
.queryPanel-right input[type=button]{
    font-size: 1em;
    color: darkgreen;
    padding: 0.2em;
    font-weight: bold;
}
.queryResults.well{
    background-color: darkgreen;
}
.queryResults.fail{
    background-color: firebrick;
}