BODY{
    width: 100%;
    font-family: Cambria, Courier New, Calibri, Arial, MS Trebichet;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
}
footer{
    background-color: rgba(25,25,50,1);
    color: #ffffff;
}
.contentBlock-frame{
    text-align: center;
    width: 100%;
}
.contentBlock-center{
    display: inline-block;
    max-width: 1366px;
    width: 100%;
}
.contentBlock-frame.dark{
    background: rgba(25,25,50,1);
    color: #ffffff;
}